ul,
ol {
	margin-left: 50px;
	margin-bottom: 20px;
}

li {
	/* 16 px by default*/
	font-size: 20px;
	margin: 10px;
	/* display: inline; */
}

/* margin = 10px besides last child */
li:last-child {
	margin-bottom: 0;
}

/* footer p {
	font-size: 16px;
} */

/* article header p {
	font-style: italic;
} */

/* .first-li {
	font-weight: bold;
} */

/* pseudo-class  */
li:first-child {
	font-weight: bold;
}

li:last-child {
	font-style: italic;
}
/* 
li:nth-child(odd) {
	color: red;
} */
