.subscribe {
	background-color: #000;
	border: none;
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	width: 100%;
	height: auto;
	padding: 15px;
}

.subscribe:hover {
	background-color: #fff;
	color: #000;
}
