/* FLOATS */

/* 

diff between position abolute
absolute: 
elements overlap
positioned to relative

float:
elements wrap around
container will not adjust its height for elm

*/
.author {
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}

article {
	width: 825px;
	float: left;
}

aside {
	width: 300px;
	float: right;
}

/* clear float in footer because float will bring the next child elm with them */
footer {
	clear: both;
}
