/* 
	universal selector if u want applied on all eleemnts but not inherinted 
	border-top applies to all child elem
*/
* {
	/* border-top: 10px solid #1098ad; */
	margin: 0;
	padding: 0;
}

/* 
	declare values, color and font family
	passed down to child elem contained in body 

	border-top is not inherinted 
	border top will only be applied to total body
	
*/
body {
	color: #444;
	font-family: sans-serif;

	border-top: 10px solid #1098ad;
	background-color: aliceblue;
}

.container {
	width: 800px;
	/* margin: 0 auto; */
	margin-left: auto;
	margin-right: auto;
}

nav {
	font-size: 18px;
	margin-top: 15px;
}

article {
	margin-bottom: 40px;
}

.main-header {
	background-color: #c5c5c5a9;
	padding: 20px 40px;
	margin-bottom: 60px;
	/* height: 80px; */
}
.post-header {
	margin-bottom: 40px;
}

aside {
	background-color: #f7f7f7;
	/* width, style, color */
	/* border: 5px solid #1098ad; */

	/* Alternate border synthax
	border-top: 5px solid #1098ad;
	border-bottom: 5px solid #1098ad;
	border-left: 5px solid #1098ad;
	border-right: 5px solid #1098ad; */

	border-top: 5px solid #1098ad;
	border-bottom: 5px solid #1098ad;
	padding: 15px 0;

	/* Alternate padding synthax */
	/* padding-top: 50px;
	padding-bottom: 50px; */

	/* dimensions */
	width: 500px;

	margin-bottom: 20px;
}

h1,
h2,
h3 {
	color: rgb(13, 196, 202);
}

h1 {
	font-size: 26px;
	font-style: italic;
	text-transform: uppercase;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 40px;
}

h4 {
	font-size: 20px;

	text-transform: uppercase;
	text-align: center;
}

p {
	font-size: 22px;
	/* 
		distance between lines
		will be 1.5 x font-size
		default = 1
	*/
	line-height: 1.5;
	margin-bottom: 15px;
}

ul,
ol {
	margin-left: 50px;
	margin-bottom: 20px;
}

li {
	/* 16 px by default*/
	font-size: 20px;
	margin: 10px;
	/* display: inline; */
}

/* margin = 10px besides last child */
li:last-child {
	margin-bottom: 0;
}

/* footer p {
	font-size: 16px;
} */

/* article header p {
	font-style: italic;
} */

#author {
	font-style: italic;
	font-size: 18px;
}

#copyright {
	font-size: 16px;
}

.related-author {
	font-size: 18px;
	font-weight: bold;
}

.related-posts {
	list-style: none;
}

/* .first-li {
	font-weight: bold;
} */

/* pseudo-class  */
li:first-child {
	font-weight: bold;
}

li:last-child {
	font-style: italic;
}

li:nth-child(odd) {
	/* color: red; */
}

/*
wont work because p is not the first child, 
first child is header 
*/
article p:first-child {
	color: red;
}

/* Styling links */

/* 
a with href
remember order
link,visited,hover,active
*/
a:link {
	color: #1098ad;
	/* remove underline */
	text-decoration: none;
	/* cursor: pointer; */
}

a:visited {
	color: #1098ad;
}

a:hover {
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

a:active {
	background-color: #1098ad;
	font-style: italic;
}

.subscribe {
	background-color: #000;
	border: none;
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	cursor: pointer;
	width: 100%;
	height: auto;
	padding: 15px;
}

.subscribe:hover {
	background-color: #fff;
	color: #000;
}

/* Resolving Conflicts */
/* #copyright {
	color: red;
}

.copyright {
	color: blue;
}

.text {
	color: yellow;
}

footer p {
	color: green !important;
} */

.ghost-logo-1 {
	width: 100%;
	height: auto;
}

/* box model */
nav a:link {
	/* background-color: white; */
	/* ! margin only applied horizontally (left and right) */
	/* margin: 20px;
	padding: 20px;
	display: block; */
	margin-right: 30px;
	margin-top: 10px;
	display: inline-block;
}

nav a:link:last-child {
	margin-right: 0;
}
