/* 
	universal selector if u want applied on all eleemnts but not inherinted 
	border-top applies to all child elem
*/
* {
	/* border-top: 10px solid #1098ad; */
	margin: 0;
	padding: 0;
}

/* 
	declare values, color and font family
	passed down to child elem contained in body 

	border-top is not inherinted 
	border top will only be applied to total body
	
*/
body {
	color: #444;
	font-family: sans-serif;

	border-top: 10px solid #1098ad;
	background-color: aliceblue;
	position: relative;
}

.container {
	width: 800px;
	/* margin: 0 auto; */
	margin-left: auto;
	margin-right: auto;
}
